@{
    ViewBag.Title = "MIDs Update Info";
}

@model SDGBackOffice.Models.MerchantMidModel
<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="col-sm-6">        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "MIDs")">Home</a></li>
            <li><a href="#">Merchant Management</a></li>
            <li><a href="#">MID</a></li>
            <li class="active">Edit MID</li>
        </ul>
        <!-- END BREADCRUMB -->
    </div>
    <div class="col-sm-6">
        @Html.Partial("~/Views/Shared/_PartialUser.cshtml")
    </div>
</nav>

<div class="swal-btn-success"></div>
<div class="swal-btn-cancel"></div>

<section class="page-content">
    <div class="page-content-inner">
        <section class="panel">
            <div class="panel-heading">
                <h3>Update MID Info</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="margin-bottom-50">
                            <!-- Horizontal Form -->
                            <form class="form-horizontal" action="@Url.Action("MidsUpdateInfo")" method="post" role="form" id="reg_form">
                                @Html.HiddenFor(m => m.TransactionChargeId)
                                @Html.HiddenFor(m => m.NeedAddBulk)
                                @Html.HiddenFor(m => m.NeedUpdateBulk)
                                @Html.HiddenFor(m => m.NeedDeleteBulk)
                                @Html.HiddenFor(m => m.NeedAddTerminalId)
                                <div style="color: red;">
                                    @Html.ValidationSummary()
                                </div>


                                <div class="form-group row">                                    
                                    <div class="col-md-4">
                                        <label class="form-control-label">Merchant Name</label>
                                        @Html.TextBoxFor(m => m.MerchantName, new { @class = "form-control", @placeholder = "Merchant Name", @disabled = "disable" })
                                    </div>
                                </div>

                                <div class="form-group row">                                   
                                    <div class="col-md-4">
                                        <label class="form-control-label">MID Details</label>
                                        @Html.TextBoxFor(m => m.MIDName, new { @class = "form-control", @placeholder = "MID Name" })
                                    </div>                                    
                                    <div class="col-md-4">
                                        <label class="form-control-label">Is Active</label>
                                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "icheckbox" })
                                    </div>
                                </div>

                                <div class="form-group row">                                  
                                    <div class="col-md-4">
                                        <label class="form-control-label">Switch</label>
                                        @Html.DropDownListFor(m => m.SwitchId, (List<SelectListItem>)ViewBag.Switches, new { @class = "form-control", @placeholder = "Switch" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Card Type</label>
                                        @Html.DropDownListFor(m => m.CardTypeId, (List<SelectListItem>)ViewBag.CardTypes, new { @class = "form-control", @placeholder = "Card Type" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Currency</label>
                                        @Html.DropDownListFor(m => m.CurrencyId, (List<SelectListItem>)ViewBag.Currencies, new { @class = "form-control", @placeholder = "Currency" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="form-control-label"></label>
                                </div>
                        
                                <div class="form-group row hiddiv">                                   
                                    <div class="col-md-4">
                                        <label class="form-control-label" id="param1">Access Code</label>
                                        @Html.TextBoxFor(m => m.Param_1, new { @class = "form-control accessCode", @placeholder = "Access Code" })
                                        @Html.TextBoxFor(m => m.Param_7, new { @class = "form-control mbTransNumber", @placeholder = "Merchant Branch Transit Number" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Merchant ID</label>
                                        @Html.TextBoxFor(m => m.Param_2, new { @class = "form-control", @placeholder = "Merchant Id" })
                                    </div>
                                    <div class="col-md-4 secure">
                                        <label class="form-control-label" id="param3">Secure Hash</label>
                                        @Html.TextBoxFor(m => m.Param_3, new { @class = "form-control secure", @placeholder = "Secure Hash" })
                                    </div>
                                </div>

                                <div class="form-group row hiddiv">
                                    <div class="col-md-4">
                                        <label class="form-control-label" id="param3">Terminal Id</label>
                                        @Html.TextBoxFor(m => m.Param_6, new { @class = "form-control tid", @placeholder = "Terminal Id" })
                                    </div>
                                    <div class="col-md-4 ctParamSetLikeTerminalId">
                                        <label class="form-control-label" id="">Set Like Terminal Id</label>
                                        @Html.TextBoxFor(m => m.SetLikeTerminalId, new { @class = "form-control ctsetliketerminal", @placeholder = "Set Like Terminal Id" })
                                    </div>
                                    <div class="col-md-4 ctParamSetLikeMerchantId">
                                        <label class="form-control-label" id="">Set Like Merchant Id</label>
                                        @Html.TextBoxFor(m => m.SetLikeMerchantId, new { @class = "form-control ctsetlikemerchant", @placeholder = "Set Like Terminal Id" })
                                    </div>
                                </div>

                                <div class="form-group row masterCard">
                                    <div class="col-md-4">
                                        <label class="form-control-label">Payment Facilitator ID</label>
                                        @Html.TextBoxFor(m => m.Param_13, new { @class = "form-control", @placeholder = "Payment Facilitator ID" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Independent Sales Organization ID</label>
                                        @Html.TextBoxFor(m => m.Param_14, new { @class = "form-control", @placeholder = "Independent Sales Organization ID" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant ID</label>
                                        @Html.TextBoxFor(m => m.Param_15, new { @class = "form-control", @placeholder = "Sub-Merchant ID" })
                                    </div>
                                </div>

                                <div class="form-group row masterCard">
                                    <div class="col-md-4">
                                        <label class="form-control-label">Payment Facilitator Name</label>
                                        @Html.TextBoxFor(m => m.Param_16, new { @class = "form-control", @placeholder = "Payment Facilitator Name" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant Name</label>
                                        @Html.TextBoxFor(m => m.Param_17, new { @class = "form-control", @placeholder = "Sub-Merchant Name" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant Street Address</label>
                                        @Html.TextBoxFor(m => m.Param_18, new { @class = "form-control", @placeholder = "Sub-Merchant Street Address" })
                                    </div>
                                </div>

                                <div class="form-group row masterCard">
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant City</label>
                                        @Html.TextBoxFor(m => m.Param_19, new { @class = "form-control", @placeholder = "Sub-Merchant City" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant State</label>
                                        @Html.TextBoxFor(m => m.Param_20, new { @class = "form-control", @placeholder = "Sub-Merchant State" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant Country Code</label>
                                        @Html.TextBoxFor(m => m.Param_21, new { @class = "form-control", @placeholder = "Sub-Merchant Country Code" })
                                    </div>
                                </div>

                                <div class="form-group row masterCard">
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant POS Country Code</label>
                                        @Html.TextBoxFor(m => m.Param_22, new { @class = "form-control", @placeholder = "Sub-Merchant POS Country Code" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant POS Postal Code</label>
                                        @Html.TextBoxFor(m => m.Param_23, new { @class = "form-control", @placeholder = "Sub-Merchant POS Postal Code" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Sub-Merchant Merchant Category Code</label>
                                        @Html.TextBoxFor(m => m.Param_24, new { @class = "form-control", @placeholder = "Sub-Merchant Merchant Category Code" })
                                    </div>
                                </div>

                                <div class="form-group row hiddiv">
                                    <div class="col-md-4">
                                        <label class="form-control-label" id="userName">Username</label>
                                        @Html.TextBoxFor(m => m.Param_4, new { @class = "form-control userName", @placeholder = "Username", @autocomplete = "off" })
                                        @Html.TextBoxFor(m => m.Param_8, new { @class = "form-control mBankNumber", @placeholder = "Merchant Bank Number" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" id="password">Password</label>
                                        @Html.TextBoxFor(m => m.Param_5, new { @class = "form-control password", @placeholder = "Password", @type = "password", @autocomplete = "off" })
                                        @Html.TextBoxFor(m => m.Param_9, new { @class = "form-control mAccountNumber", @placeholder = "Merchant Account Number" })
                                    </div>
                                    <div class="col-md-4 originator">
                                        <label class="form-control-label">Originator Id</label>
                                        @Html.TextBoxFor(m => m.Param_10, new { @class = "form-control oId", @placeholder = "Originator Id" })
                                    </div>
                                </div>

                                <div class="form-group row hiddiv3">
                                    <label class="col-md-2 control-label"></label>
                                    <div class="col-md-3">
                                        <label id="userName">Category Code</label>
                                        @Html.TextBoxFor(m => m.Param_11, new { @class = "form-control", @placeholder = "Category Code", @autocomplete = "off" })
                                    </div>
                                    <div class="col-md-3">
                                        <label id="password">Desposit Merchant Id</label>
                                        @Html.TextBoxFor(m => m.Param_12, new { @class = "form-control", @placeholder = "Desposit Merchant Id", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label class="form-control-label">Discount Rate</label>
                                        @Html.TextBoxFor(m => m.TC_Discount, new { @class = "form-control", @placeholder = "Discount Rate" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Card Not Present Rate</label>
                                        @Html.TextBoxFor(m => m.TC_CardNotPresent, new { @class = "form-control", @placeholder = "Card Not Present Rate" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Decline Rate</label>
                                        @Html.TextBoxFor(m => m.TC_Decline, new { @class = "form-control", @placeholder = "Decline Rate" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label class="form-control-label">eCommerce Rate</label>
                                        @Html.TextBoxFor(m => m.TC_eCommerce, new { @class = "form-control", @placeholder = "eCommerce Rate" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Pre Auth Rate</label>
                                        @Html.TextBoxFor(m => m.TC_PreAuth, new { @class = "form-control", @placeholder = "Pre Auth Rate" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Capture Rate</label>
                                        @Html.TextBoxFor(m => m.TC_Capture, new { @class = "form-control", @placeholder = "Capture Rate" })
                                    </div>
                                </div>

                                <div class="form-group row">                                    
                                    <div class="col-md-4">
                                        <label class="form-control-label">Purchased Rate</label>
                                        @Html.TextBoxFor(m => m.TC_Purchased, new { @class = "form-control", @placeholder = "Purchased Rate" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Refund Rate</label>
                                        @Html.TextBoxFor(m => m.TC_Refund, new { @class = "form-control", @placeholder = "Refund Rate" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Void Rate</label>
                                        @Html.TextBoxFor(m => m.TC_Void, new { @class = "form-control", @placeholder = "Void Rate" })
                                    </div>
                                </div>

                                <div class="form-group row">                                    
                                    <div class="col-md-4">
                                        <label class="form-control-label">Cash Back Rate</label>
                                        @Html.TextBoxFor(m => m.TC_CashBack, new { @class = "form-control", @placeholder = "Cash Back Rate" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label">Balance Inquiry Rate</label>
                                        @Html.TextBoxFor(m => m.TC_BalanceInquiry, new { @class = "form-control", @placeholder = "Balance Inquiry Rate" })
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="form-group row">
                                        <div class="col-md-3 pull-left">@Html.ActionLink("Default", null, null, null, new { @class = "btn btn-default" })
                                        @Html.ActionLink("Back", "Index", "MIDs", null, new { @class = "btn btn-default" })
                                        </div>
                                        <div class="col-md-9 ">
                                            <input type="submit" class="btn btn-primary pull-right width-150" value="Save" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End Horizontal Form -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scripts {
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/validation.js")"></script>
    <!-- END THIS PAGE PLUGINS -->
    <script type='text/javascript'>
        $(document).ready(function () {

            $(".masterCard").hide();
            $(".mbTransNumber").hide();
            $(".mBankNumber").hide();
            $(".mAccountNumber").hide();
            $(".originator").hide();
            //$(".tid").hide();
            $(".hiddiv3").hide();


            if ($("#SwitchId").val() == 27) {
                $("#param3").text("Terminal ID");
                $(".secure").hide();
                $(".tid").show();
                $(".masterCard").hide();
                $(".tid").hide();
            } else if ($("#SwitchId").val() == 22) {
                $("#param1").text("Merchant Branch Transit Number");
                $("#param3").text("Terminal ID");
                $("#userName").text("Merchant Bank Number");
                $("#password").text("Merchant Account Number");
                $(".accessCode").hide();
                $(".userName").hide();
                $(".password").hide();
                $(".secure").hide();
                $(".mbTransNumber").show();
                $(".mBankNumber").show();
                $(".mAccountNumber").show();
                $(".tid").show();
                $(".originator").show();
                $(".hiddiv3").show();
            }

            $("#SwitchId").change(function () {
                var ddlswitch = document.getElementById('SwitchId').value;
                if (ddlswitch != 0) {

                    if (ddlswitch == 27) {   //Maxbank
                        $("#param1").text("Access Code");
                        //$("#param3").text("Terminal ID");
                        $("#userName").text("Username");
                        $("#password").text("Password");
                        $(".secure").hide();
                        $(".mbTransNumber").hide();
                        $(".mBankNumber").hide();
                        $(".mAccountNumber").hide();
                        $(".originator").hide();
                        $(".tid").show();
                        $(".hiddiv3").show();
                        $(".masterCard").hide();
                        $(".hiddiv2").show();
                        $("#param3").hide();
                    } else if (ddlswitch == 22) {  //CTPayment
                        $("#param1").text("Merchant Branch Transit Number");
                        $("#userName").text("Merchant Bank Number");
                        $("#password").text("Merchant Account Number");
                        $(".accessCode").hide();
                        $(".userName").hide();
                        $(".password").hide();
                        $(".secure").hide();
                        $(".mbTransNumber").show();
                        $(".mBankNumber").show();
                        $(".mAccountNumber").show();
                        $(".tid").show();
                        $(".originator").show();
                        $(".hiddiv3").show();
                        $(".hiddiv2").hide();
                    } else if (ddlswitch == 20) {  //API Mastercard
                        $(".masterCard").show();
                        $(".hiddiv3").hide();
                        $(".userName").show();
                        $(".password").show();
                        $(".tid").show();
                        $(".hiddiv2").show();
                    } else if (ddlswitch == 24) {  //Datacollect
                        $(".masterCard").show();
                        $(".hiddiv3").hide();
                        $(".userName").show();
                        $(".password").show();
                        $(".hiddiv2").show();
                        $("#param3").hide();
                    } else {
                        $("#param1").text("Access Code");
                        //$("#param3").text("Secure Hash");
                        $("#userName").text("Username");
                        $("#password").text("Password");
                        $(".secure").show();
                        $(".accessCode").show();
                        $(".userName").show();
                        $(".password").show();
                        $(".secure").show();
                        //$(".tid").hide();
                        $(".mbTransNumber").hide();
                        $(".mBankNumber").hide();
                        $(".mAccountNumber").hide();
                        $(".originator").hide();
                        $(".hiddiv3").hide();
                        $(".masterCard").hide();
                        $(".hiddiv2").show();
                        $("#Param_3").hide();
                        $("#param3").hide();
                        $(".tid").show();
                    }
                } else {
                    $(".hiddiv").hide();
                    $(".hiddiv3").hide();
                    $(".masterCard").hide();
                }
            });

        });
    </script>
}
