@{
    ViewBag.Title = "MID Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGBackOffice.Models.MerchantModel
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">MID Management</li>
</ul>
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>MID Management</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter Option</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Select Merchant</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => x.MerchantId, (List<SelectListItem>)ViewBag.Merchants, new { id = "ddlMerchants", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View All MIDs</h3>
                    <div style="display: inline-grid;" id="dvActionKeys">
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("MidsUpdateInfo")" onclick="redirectAction(this);">Update MID Info</a>
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("MidsViewInfo")" onclick="redirectAction(this);">View MID Info</a>
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("RemoveAssignedMid")" onclick="redirectAction(this);">Remove MID</a>
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("MidsAssign")" onclick="redirectAction(this);">Assign MID</a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table" id="MIDsTbl">
                        <thead>
                            <tr>
                                <th></th>
                                <th>MID Name</th>
                                <th>Switch Name</th>
                                <th>Card Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <!-- END SIMPLE DATATABLE -->
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->
@section scripts {
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/backoffice.js")'></script>
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <!-- END PAGE PLUGINS -->

    <script type="text/javascript">

        $(document).ready(function () {
            $("select").each(function () { this.selectedIndex = 0 });
            $("#dvActionKeys").hide();
            refreshMidsTable(this.value);
        });

        $("#ddlMerchants").change(function () {
            var ddlm = document.getElementById('ddlMerchants').value;
            refreshMidsTable(ddlm);
        });

    </script>
}