@{
    ViewBag.Title = "Merchant Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGAdmin.Models.SDMasterModel

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Merchant Management</li>
</ul>

<div class="swal-btn-success"></div>
<div class="swal-btn-cancel"></div>

<section class="page-content">
    <div class="page-content-inner">
        @Html.Hidden("success", (object)ViewBag.Success)
        @Html.Hidden("needsupdate", (object)ViewBag.NeedsUpdate)
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">                       
                        <div class="col-md-6">
                            <h4>Select Partner:</h4>
                            @Html.DropDownListFor(m => m.Partner.PartnerId, (List<SelectListItem>)ViewBag.Partners, new { @class = "form-control pull-left" })
                        </div>                      
                        <div class="col-md-6">
                            <h4>Select Reseller:</h4>
                            @Html.DropDownList("ddlreseller", new List<SelectListItem>() { new SelectListItem { Text = "No Resellers available", Value = "-1" } }, new { @class = "form-control" })
                        </div>
                    </div>  
                    <br />     
                    <br />               
                </div>
            </div>
        </section>
        <!-- End  -->
    </div>
</section>

<section class="page-content">
    <div class="page-content-inner">
        <section class="panel">
            <div class="panel-heading">
                <h3>View All Merchants</h3>
            </div>

            <div class="pull-right" id="dvActionKeys">
                <a href="#" class="btn btn-primary margin-inline" data-link="@Url.Action("Registration", "MerchantBranches")" onclick="redirectActionwithmId(this);">Create Merchant Branch</a>
                <a href="#" class="btn btn-primary margin-inline" data-link="@Url.Action("UpdateInfo")" onclick="redirectAction(this);">Update Merchant Info</a>
                <a href="#" class="btn btn-primary margin-inline" data-link="@Url.Action("ViewInfo")" onclick="redirectActionwithId(this);">View Merchant Info</a>
                <a href="#" class="btn btn-primary margin-inline" data-link="@Url.Action("ViewAssignedDevices")" onclick="redirectActionwithEncId(this);">View Assigned Device</a>
                <a href="#" class="btn btn-primary margin-inline" data-link="@Url.Action("AssignDevice")" onclick="redirectActionwithEncId(this);">Assign Device</a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="margin-bottom-50">

                            <table class="table table-inverse nowrap" id="MerchantsTbl" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Merchant Name</th>
                                        <th>Primary Contact Number</th>
                                        <th>Location</th>
                                        <th>Association</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End  -->
    </div>
</section>

<div class="message-box message-box-danger animated fadeIn div-hide" id="message-box-danger">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Error</div>
            <div class="mb-content">
                <p id="errMsg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
                <button id="close" class="btn btn-default btn-lg pull-right mb-control-close">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-success animated fadeIn div-hide" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span>Success</div>
            <div class="mb-content">
                <p id="sMsg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
            </div>
        </div>
    </div>
</div>

@section scripts { 

    <script type="text/javascript">
        $(document).ready(function () {

            $("select").each(function () { this.selectedIndex = 0 });

            $("#merchantMenu").addClass("active");
            $("#merchantSubmenu").addClass("active");
            $("#merchantSubIndex").addClass("active");
            $(".page-content").css("height", "100%");

            var strSuccess = document.getElementById('success').value;
            if (strSuccess != "") {                            
                getModal(0, strSuccess);
            }

            refreshMerchantsTableOnDropdownChange(0);

            $("#Partner_PartnerId").on("change", function () {
                var id = document.getElementById('Partner_PartnerId').value;
                refreshMerchantsTableOnDropdownChange(0);
                $.ajax({
                    url: rootDir + 'Ajax/GetReseller',
                    type: 'POST',
                    data: { "pId": id },
                    dataType: "json",
                    success: function (data) {
                        $("option[value='-1']").remove();
                        $('#ddlreseller').empty()
                        $.each(data, function (key, value) {
                            $("#ddlreseller").append($("<option></option>").val(value.Value).html(value.Text));
                        });

                        if (data.length == 1) {
                            refreshMerchantsTableOnDropdownChange($("#ddlreseller").val());
                        }
                    }
                });
            });

            $("#ddlreseller").change(function () {
                var id = document.getElementById('ddlreseller').value;
                refreshMerchantsTableOnDropdownChange(id);
            });

            var strErr = '@(TempData["NeedsUpdate"])';
            if (strErr != "") {
                getModal(1, strErr);
            }           

        });
    </script>
}