@{
    ViewBag.Title = "Merchant Assigned Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGAdmin.Models.MerchantDeviceModel

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Merchants")">Home</a></li>
    <li><a href="#">Merchant Management</a></li>
    <li class="active">View Assign Device</li>
</ul>


<section class="panel">
    <div class="panel-heading">
        <h3>View All Serial Numbers</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="margin-bottom-50">
                    <br />
                    <!-- Horizontal Form -->
                    <form action="@Url.Action("ViewAssignedDevices")" method="post" role="form" class="form-horizontal">
                        @Html.HiddenFor(m => m.MerchantId, new { id = "hdnMerchantID" })
                        @Html.Hidden("hdnCtrl", "")

                        <div class="panel-body">
                            <table style='text-align: center; vertical-align: middle;'>
                                <tr>
                                    <td style='width: 160px; height:200px;'>
                                        <b>Assigned Device</b><br />
                                        <select multiple="multiple" id="lbDeviceAvailable" style="width: 400px;" class="form-control" size="20"></select>
                                    </td>
                                    <td style='width: 50px; text-align: center; vertical-align: middle;'>
                                        &nbsp;
                                        <input type='button' id='btnRight' value='>  ' class="form-control" />
                                        <br />
                                        <input type='button' id='btnLeft' value='  <  ' class="form-control" />
                                    </td>
                                    <td style='width: 50px; text-align: center; vertical-align: middle;'>
                                        &nbsp;
                                        <b>Selected Device you want to remove.</b>
                                        <br />
                                        <select multiple="multiple" id="lbAssignedDevice" style="width: 400px;" class="form-control" size="20"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="form-actions">
                            <div class="form-group row">
                                <div class="col-md-3 pull-left">
                                </div>
                                <div class="col-md-9 ">
                                    <input type="submit" value="Remove Assign Device" class="btn width-200 btn-primary pull-right" />
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- End Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <!-- END PAGE PLUGINS -->

    <script type="text/javascript">
        $(document).ready(function () {
            var merchId = document.getElementById('hdnMerchantID').value;

            $("#lbDeviceAvailable option:selected").attr("size", function () { return this.options.length; });
            $("#lbAssignedDevice option:selected").attr("size", function () { return this.options.length; });

            $.ajax({
                url: rootDir + 'Ajax/ViewMerchantDevice',
                type: 'POST',
                data: { "id": merchId },
                dataType: "json",
                success: function (data) {
                    $('#lbDeviceAvailable').empty();
                    $('#lbAssignedDevice').empty();
                    $.each(data, function (key, value) {
                        $("#lbDeviceAvailable").append($("<option></option>").val(value.Value).html(value.Text));
                    });
                }
            });

            $('#btnRight').click(function (e) {
                var selectedOpts = $('#lbDeviceAvailable option:selected');
                if (selectedOpts.length == 0) {
                    alert("Select a device that you want to remove to Merchant.");
                    e.preventDefault();
                }

                $('#lbAssignedDevice').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnLeft').click(function (e) {
                var selectedOpts = $('#lbAssignedDevice option:selected');
                if (selectedOpts.length == 0) {
                    alert("Select a Serial Number that you want to remove.");
                    e.preventDefault();
                }

                $('#lbDeviceAvailable').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('form').submit(function () {
                var json = "";
                $("#lbAssignedDevice option").each(function () {
                    value = $(this).val()
                    text = $(this).html()

                    if (json.length != 0) json += ",";

                    json += value;
                });
                var id = document.getElementById('hdnCtrl').value = json.toString();
            });
        });

    </script>
}