@{
    ViewBag.Title = "Merchant ViewMyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGAdmin.Models.MerchantModel

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Merchants")">Home</a></li>
    <li><a href="#">Merchant Management</a></li>
    <li class="active">View Merchant Info</li>
</ul>
<!-- END BREADCRUMB -->

<section class="panel">
    <div class="panel-heading">
        <h3>View Merchant Info</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="margin-bottom-50">
                    <h4>Merchant Details</h4>
                    <br />
                    <!-- Horizontal Form -->

                    <div class="form-group row">                       
                        <div class="col-md-6">
                            <label class="form-control-label">Merchant Name</label>
                            @Html.TextBoxFor(m => m.MerchantName, new { @class = "form-control", @placeholder = "Merchant Name", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="form-control-label">Street and Civic Number</label>
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Street and Civic Number", @disabled = "disabled" })
                        </div>
                        <div class="col-md-6">
                            <label class="form-control-label">City</label>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="form-control-label">State / Province</label>
                            @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control", @placeholder = "State / Province", @disabled = "disabled" })
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label">Zip / Postal Code</label>
                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", @placeholder = "Zip / Postal Code", @disabled = "disabled" })
                        </div>
                        <div class="col-md-4">
                            <label class="form-control-label">Country</label>
                            @Html.DropDownListFor(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, new { @class = "form-control", @placeholder = "Country", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="form-control-label">Primary Contact Number</label>
                            @Html.TextBoxFor(m => m.PrimaryContactNumber, new { @class = "form-control", @placeholder = "Primary Contact Number", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            <label class="form-control-label">Fax</label>
                            @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = "Fax", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            <label class="form-control-label">Mobile Phone Number</label>
                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Phone Number", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            <label class="form-control-label">Billing Cycle</label>
                            @Html.DropDownListFor(m => m.BillingCycleId, (List<SelectListItem>)ViewBag.BillingCycles, new { @placeholder = " ", @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                   
                    <div class="form-actions">
                        <div class="form-group row">
                            <div class="col-md-3 pull-left">
                                @Html.ActionLink("Back", "Index", "Merchants", null, new { @class = "btn btn-default" })
                            </div>
                            <div class="col-md-9 ">
                            </div>
                        </div>
                    </div>
                    <!-- End Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</section>
