@{
    ViewBag.Title = "Merchant Boarding Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="col-sm-6">        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Merchant Management - Merchant Bulk</li>
        </ul>
    </div>
    <div class="col-sm-6">
        @Html.Partial("~/Views/Shared/_PartialUser.cshtml")
    </div>
</nav>
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>Merchant Management</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
@Html.Hidden("hdnParentType", SDGBackOffice.CurrentUser.ParentType)
<div class="page-content-wrap">
    @Html.Hidden("success", (object)ViewBag.Success)
    @Html.Hidden("outdated", (object)ViewBag.Outdated)
    <div class="row">
        <div class="col-md-12">
            <br />
            <form class="form-horizontal" action="@Url.Action("ViewAddBulk")" method="post" role="form" id="reg_form">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div style="color: red;">
                            @Html.ValidationSummary()
                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">Add Merchant Bulk Boarding</h3>
                            <div style="display:inline-grid;">
                                <a href="#" class="btn btn-success pull-right margin-btn" id="btnSendRequest">Send Request</a>&nbsp;
                                @Html.ActionLink("Back", "Add", "MerchantBulkUpload", null, new { @class = "btn btn-default pull-right margin-btn" })
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table" id="MerchantsTbl">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Merchant Name</th>
                                        <th>Association</th>
                                        <th>Credit Card MID</th>
                                        <th>Debit Card MID</th>
                                        <th>Command</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END SIMPLE DATATABLE -->
                </div>
            </form>
        </div>
    </div>
</div>
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span>Success</div>
            <div class="mb-content">
                <p id="errMsg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" id="message-box-danger">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Error</div>
            <div class="mb-content">
                <p id="errorMsg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
                <button id="close" class="btn btn-default btn-lg pull-right mb-control-close">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->
@section scripts {
    <script type='text/javascript' src='@Url.Content("~/js/CTMerchantOnBoard.js")'></script>
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <!-- END PAGE PLUGINS -->

    <script type="text/javascript">
        $(document).ready(function () {
            $("#merchantBulk").addClass("active");

            var merchantIds = '@(ViewBag.MerchantIds)';
            refreshViewAddBulkData(merchantIds);

            $('#btnSendRequest').click(function () {
                var dataArr = merchantIds;
                $('input:checked').each(function () {
                    dataArr.push($(this).val());
                });

                window.location = rootDir + 'MerchantOnBoard/GetAllMerchantsToBeAdded?id=' + dataArr;
            });

            $('#btnBack').click(function () {
                window.location = rootDir + 'MerchantOnBoard/Add';
            });


    });
    </script>
}
