@{
    ViewBag.Title = "My Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Partner Management</li>
</ul>
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>Partner Management</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    @Html.Hidden("success", (object)ViewBag.Success)
    <div class="row">
        <div class="col-md-12">
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View All Partners</h3>
                    <div style="display: inline-grid;" id="dvActionKeys">
                        <a href="#"  class="btn btn-info pull-right" data-link="@Url.Action("Registration", "Resellers")" onclick="redirectAction(this);">Create Reseller</a>
                        <a href="#" class="btn btn-info pull-right"  data-link="@Url.Action("UpdateInfo")" onclick="redirectAction(this);">Update Partner Info</a>
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("ViewInfo")" onclick="redirectAction(this);">View Partner Info</a>
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("NewUser")" onclick="redirectAction(this);">Add New User</a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table" id="partnersTbl">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company Name</th>
                                <th>Primary Contact Number</th>
                                <th>Location</th>
                                <th>Parent Partner</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- END SIMPLE DATATABLE -->
        </div>
    </div>
</div>
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span>Success</div>
            <div class="mb-content">
                <p id="sMsg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->
@section scripts {
    <script type='text/javascript' src='@Url.Content("~/js/backoffice.js")'></script>
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/dataTables.tableTools.js")"></script>
    <!-- END PAGE PLUGINS -->

    <script type="text/javascript">
        $(document).ready(function () {

            $("#partnerMenu").addClass("active");
            $("#partnerIndex").addClass("active");

            var strSuccess = document.getElementById('success').value;
            if (strSuccess != "") {
                $("#sMsg").text(strSuccess);
                $("#message-box-success").show();
                $("#message-box-success").fadeOut(1500);
            }

            refreshPartnersTable(0);
        });
    </script>
}