@{
    ViewBag.Title = "POS ViewMyInfo";
}

@model SDGBackOffice.Models.MerchantPOSModel

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "MerchantBranchPOSs")">Home</a></li>
    <li><a href="#">POS Management</a></li>
    <li class="active">View POS Info</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>POS Details</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-md-2 control-label">POS Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.POSName, new { @class = "form-control", @placeholder = "POS Name", @disabled = "disabled" })
                                    @*<span class="help-block">Required</span>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.IsActive, new { @class = "form-control", @placeholder = "Status", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Branch Name</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control", @placeholder = "Branch Name", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("Back", "Index", "MerchantBranchPOSs", null, new { @class = "btn btn-default pull-right" })
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->
@section scripts {
    <script type="text/javascript">
        $("input, select").css("color", "black");
    </script>
}