@{
    ViewBag.Title = "Merchant ViewMyInfo";
}

@model SDGBackOffice.Models.MerchantModel

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Merchants")">Home</a></li>
    <li><a href="#">Merchant Management</a></li>
    <li class="active">View Merchant Info</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Merchant Details</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Merchant Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.MerchantName, new { @class = "form-control", @placeholder = "Merchant Name", @disabled = "disabled" })
                                    @*<span class="help-block">Required</span>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Address</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Street and Civic Number", @disabled = "disabled" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control", @placeholder = "State / Province", @disabled = "disabled" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", @placeholder = "Zip / Postal Code", @disabled = "disabled" })
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, new { @class = "form-control", @placeholder = "Country", @disabled = "disabled" })
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Contact Numbers</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.PrimaryContactNumber, new { @class = "form-control", @placeholder = "Primary Contact Number", @disabled = "disabled" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = "Fax", @disabled = "disabled" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Phone Number", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Billing Cycle</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.BillingCycleId, (List<SelectListItem>)ViewBag.BillingCycles, new { @placeholder = " ", @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("Back", "Index", "Merchants", null, new { @class = "btn btn-default pull-right" })
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->
@section scripts {
    <script type="text/javascript">
        $("input, select").css("color", "black");
    </script>
}