@{
    Layout = null;
}

@model SDGBackOffice.Models.ChangePasswordModel

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>SD Group Backoffice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
    <script type="text/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var strExpire = '@(ViewBag.Expired)';
            
            if (strExpire != "") {
                $("#sMsg").text(strExpire);
                $("#message-box-warning").show();
                $("#message-box-warning").fadeOut(2500);
            }

            $("#message-box-danger").hide();
            var strErr = '@(ViewBag.Alert)';
            if (strErr != "") {
                $("#errMsg").text(strErr);
                $("#message-box-danger").show();
            }

            $("#close").click(function () {

                $("#message-box-danger").hide();
            });

            var validate = $("#jvalidate").validate({
                ignore: [],
                rules: {
                    "NewPassword": {
                        required: true,
                        minlength: 8
                    },
                    "ConfirmPassword": {
                        required: true,
                        equalTo: "#NewPassword"
                    }
                }
            });

        });
    </script>
</head>
<body>
    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body block">
                <div class="login-title">Change Password</div>
                <div style="color: red;" >
                    @Html.ValidationSummary()
                </div>
                <form role="form" class="form-horizontal" method="post" action="@Url.Action("ChangePassword")" id="jvalidate">
                    @Html.Hidden("hdnHolder", "")
                    @*@Html.HiddenFor(u => u.UserId)*@
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(u => u.UserName, "", new { @placeholder = "Enter Current Username", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(u => u.OldPassword, "", new { @placeholder = "Current Password", @class = "form-control", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(u=> u.NewPassword, "", new { @placeholder = "New Password", @class = "form-control", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(u => u.ConfirmNewPassword, "", new { @placeholder = "Confirm New Password", @class = "form-control", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.ActionLink("Back", "Index", "Home", new { @class = "btn btn-info btn-block" })
                        </div>
                        <div class="col-md-6">
                            @Html.Hidden("RememberMe", "false")
                            @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
                            <button class="btn btn-success btn-block">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2015 PayMaya Backoffice
                </div>
                <div class="pull-right">
                    <a href="~/#" class="login-link">About</a> |
                    <a href="~/#" class="login-link">Privacy</a> |
                    <a href="~/#" class="login-link">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div id="message-box-warning" class="message-box message-box-warning animated fadeIn">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span>Notice</div>
            <div class="mb-content">
                <p id="sMsg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER 
@section scripts {
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/jquery-validation/jquery.validate.js")"></script>

    
}
<!-- THIS PAGE PLUGINS -->