@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGBackOffice.Models.MerchantFeaturesModel
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "MerchantFeatures")">Home</a></li>
    <li class="active">Agreement Settings</li>
</ul>
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>Agreement Settings</h2>
</div>
@Html.Hidden("hdnCtrl", "");
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Action("Agreements")" method="post" role="form" class="form-horizontal" id="jvalidate" autocomplete="off">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Agreements Settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Enable Terms of Service for this merchant:</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(f => f.TermsOfServiceEnabled, (List<SelectListItem>)ViewBag.TOS, new { id = "ddlTos", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">The merchant will present a disclaimer prior to transactions:</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(f => f.DisclaimerEnabled, (List<SelectListItem>)ViewBag.TOS, new { id = "ddlDisclaimer", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input id="save" class="btn btn-primary pull-right" type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
