@{
    ViewBag.Title = "Merchant Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Merchant Features</li>
</ul>
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>Merchant Features</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    @Html.Hidden("success", (object)ViewBag.Success)
    <div class="row">
        <div class="col-md-12">
            @if (CTPaymentBackOffice.CurrentUser.ParentType == CTPaymentBackOffice.Enums.ParentType.Partner)
            {
                <div class="form-group">
                    <h4>Select Reseller:</h4>
                    <div class="col-md-3 ">
                        @Html.DropDownList("ddlresellers", (List<SelectListItem>)ViewBag.Resellers, new { @class = "form-control pull-left" })
                    </div>
                </div>
            }
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View All Merchants</h3>
                    <div style="display: inline-grid;" id="dvActionKeys">
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("AgreementsText")" onclick="redirectAction(this);">Agreements Text</a>
                        <a href="#" class="btn btn-info pull-right" data-link="@Url.Action("Agreements")" onclick="redirectAction(this);">Agreements Settings</a>
                        @*<a href="#"  class="btn btn-info pull-right" data-link="@Url.Action("Registration", "MerchantBranches")" onclick="redirectAction(this);">Email Server Settings</a>*@
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table" id="MerchantsTbl">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Merchant Name</th>
                                <th>Primary Contact Number</th>
                                <th>Location</th>
                                <th>Association</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
            <!-- END SIMPLE DATATABLE -->
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" id="message-box-danger">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Error</div>
            <div class="mb-content">
                <p id="errMsg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
                <button id="close" class="btn btn-default btn-lg pull-right mb-control-close">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span>Success</div>
            <div class="mb-content">
                <p id="msg" style="font-size: large"></p>
            </div>
            <div class="mb-footer">
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->
@section scripts {
    <script type='text/javascript' src='@Url.Content("~/js/backoffice.js")'></script>
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <!-- END PAGE PLUGINS -->

    <script type="text/javascript">
        $(document).ready(function () {

            $("#featuresMenu").addClass("active");
            $("#featurePOS").addClass("active");

            var strSuccess = document.getElementById('success').value;
            if (strSuccess != "") {
                $("#msg").text(strSuccess);
                $("#message-box-success").show();
                $("#message-box-success").fadeOut(1500);
            }

            if ($("#ddlresellers").val() > 0) {
                refreshMerchantsTable($("#ddlresellers").val());
            } else {
                refreshMerchantsTable(0);
            }

            

            $("#ddlresellers").on("change", function () {
                var id = document.getElementById('ddlresellers').value;

                refreshMerchantsTable(id);
            });

            $("#message-box-danger").hide();
            var strErr = '@(TempData["NeedsUpdate"])';
            if (strErr != "") {
                $("#errMsg").text(strErr);
                $("#message-box-danger").show();
            }
        });
    </script>
}

