@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGBackOffice.Models.MerchantPOSModel

<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="col-sm-6">        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Features</li>
        </ul>
    </div>
    <div class="col-sm-6">
        @Html.Partial("~/Views/Shared/_PartialUser.cshtml")
    </div>
</nav>

<div class="swal-btn-success"></div>
<div class="swal-btn-cancel"></div>

<section class="page-content">
    <div class="page-content-inner">
        <section class="panel">
            <div class="panel-heading">
                <h3>POS Features</h3>
            </div>
            @Html.Hidden("success", (object)ViewBag.Success)
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="margin-bottom-50">
                            <h4>Filter Option</h4>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="form-control-label">Select Reseller</label>
                                    @Html.DropDownList("ResellerId", (List<SelectListItem>)ViewBag.Resellers, new { @placeholder = " ", @class = "form-control", id = "ddlResellers" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="form-control-label">Select Merchant</label>
                                    @Html.DropDownList("ddlmerchants", new List<SelectListItem>() { new SelectListItem { Text = "No Merchants available", Value = "-2" } }, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="form-control-label">Select Branch</label>
                                    @Html.DropDownList("ddlbranches", new List<SelectListItem>() { new SelectListItem { Text = "No Branches available", Value = "-3" } }, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>



<section class="page-content">
    <div class="page-content-inner">
        <section class="panel">
            <div class="panel-heading">
                <h4>View All POS</h4>
            </div>

            <div class="pull-right" id="dvActionKeys">
                <a href="#" class="btn btn-primary margin-inline" data-link="@Url.Action("Feature")" onclick="redirectAction(this);">Update Mobile App Settings</a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="margin-bottom-50">
                            <table class="table table-inverse nowrap" id="POSTbl" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>POS Name</th>
                                        <th>Activation Code</th>
                                        <th>Association</th>
                                        <th>Status</th>
                                        <th>Date Activated</th>
                                        <th>POS Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End  -->
    </div>
</section>



@section scripts {
    <script type='text/javascript' src='@Url.Content("~/js/backoffice.js")'></script>
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <!-- END PAGE PLUGINS -->

    <script type="text/javascript">
        $(document).ready(function () {

            $('#example1').DataTable({
                responsive: true
            });

            $("#featuresMenu").addClass("active");
            $("#featurePOS").addClass("active");
            $(".page-content").css("height", "100%");

            var strSuccess = document.getElementById('success').value;
            if (strSuccess != "") {
                getModal(0, strSuccess);
            }

            refreshPOSTable(0);
            $("#ddlResellers").on("change", function () {
                var id = document.getElementById('ddlResellers').value;
                $('#ddlbranches').empty();
                $('#ddlbranches').each(function () {
                    var option = $("<option />");
                    option.attr("value", '0').text('No Merchant Branches available');
                    $('#ddlbranches').append(option);
                });
                refreshPOSTable(0);
                $.ajax({
                    url: rootDir + 'Ajax/GetMerchantsByReseller',
                    type: 'POST',
                    data: { "rId": id },
                    dataType: "json",
                    success: function (data) {
                        $("option[value='-2']").remove();
                        $('#ddlmerchants').empty()
                        $.each(data, function (key, value) {
                            $("#ddlmerchants").append($("<option></option>").val(value.Value).html(value.Text));
                        });

                        if (data.length == 1) {
                            $.ajax({
                                url: rootDir + 'Ajax/GetBranches',
                                type: 'POST',
                                data: { "id": $("#ddlmerchants").val() },
                                dataType: "json",
                                success: function (data) {
                                    $("option[value='-3']").remove();
                                    $('#ddlbranches').empty();
                                    $.each(data, function (key, value) {
                                        $("#ddlbranches").append($("<option></option>").val(value.Value).html(value.Text));
                                    });

                                    if (data.length == 1) {
                                        refreshPOSTable($("#ddlbranches").val());
                                    }
                                }
                            });
                        }
                    }
                });
            });

            $("#ddlmerchants").on("change", function () {
                var id = document.getElementById('ddlmerchants').value;
                refreshPOSTable(0);
                $.ajax({
                    url: rootDir + 'Ajax/GetBranches',
                    type: 'POST',
                    data: { "id": id },
                    dataType: "json",
                    success: function (data) {
                        $("option[value='-3']").remove();
                        $('#ddlbranches').empty();
                        $.each(data, function (key, value) {
                            $("#ddlbranches").append($("<option></option>").val(value.Value).html(value.Text));
                        });

                        if ($("#ddlbranches > option").length == 1) {
                            refreshPOSTable($("#ddlbranches").val());
                        }
                    }
                });
            });

            $("#ddlbranches").on("change", function () {
                var id = document.getElementById('ddlbranches').value;
                refreshPOSTable(id);
            });

            if ($('#ddlResellers > option').length == 1) {
                var id = document.getElementById('ddlResellers').value;

                $.ajax({
                    url: rootDir + 'Ajax/GetMerchantsByReseller',
                    type: 'POST',
                    data: { "rId": id },
                    dataType: "json",
                    success: function (data) {

                        $("option[value='-2']").remove();
                        $('#ddlmerchants').empty()
                        $.each(data, function (key, value) {
                            $("#ddlmerchants").append($("<option></option>").val(value.Value).html(value.Text));
                        });

                        if ($("#ddlmerchants > option").length == 1) {
                            $.ajax({
                                url: rootDir + 'Ajax/GetBranches',
                                type: 'POST',
                                data: { "id": $("#ddlmerchants").val() },
                                dataType: "json",
                                success: function (data) {
                                    $("option[value='-3']").remove();
                                    $('#ddlbranches').empty();
                                    $.each(data, function (key, value) {
                                        $("#ddlbranches").append($("<option></option>").val(value.Value).html(value.Text));
                                    });

                                    if ($("#ddlbranches > option").length == 1) {
                                        refreshPOSTable($("#ddlbranches").val());
                                    }

                                }
                            });
                        }

                    }
                });
            } else {
                refreshPOSTable(0);
            }

        });
    </script>
}



