@{
    ViewBag.Title = "Assign Mids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGAdmin.Models.SDMasterModel

<style>
    select {
        font-family: verdana;
        font-size: 8pt;
        width: 150px;
        height: 100px;
    }

    .selectClass {
        font-size: 15px;
        font-family: 'Averia Libre';
    }

    input {
        text-align: center;
    }
</style>

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "MIDs")">Home</a></li>
    <li class="active">Mids Assignment</li>
</ul>

<section class="page-content">
    <div class="page-content-inner">
        <section class="panel">
            <div class="panel-heading">
                <h3>MIDS Assignment</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="form-control-label">Select Merchant Branch</label>
                                        @Html.DropDownListFor(x => x.MerchantBranch.MerchantBranchId, (List<SelectListItem>)ViewBag.MerchantBranch, new { id = "ddlbranch", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End  -->
    </div>
</section>

<section class="page-content">
    <div class="page-content-inner">
        <section class="panel">
            <div class="panel-heading">
                <h3>Update Merchant</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="margin-bottom-50">
                            <h4>View All POS</h4>
                            <!-- Horizontal Form -->
                            <form action="@Url.Action("MidsAssign")" method="post" role="form" class="form-horizontal">
                                @Html.Hidden("hdnCtrl", "")
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <table class="table table-hover nowrap">
                                            <tr>
                                                <td style='width: 160px;'>
                                                    <b>POS List</b><br />
                                                    <select multiple="multiple" id="lstBox1" style="width: 400px;" class="form-control" size="20"></select>
                                                </td>
                                                <td style='width: 50px; text-align: center; vertical-align: middle;'>
                                                    &nbsp;
                                                    <input type='button' id='btnRight' value='>  ' class="form-control" />
                                                    <br />
                                                    <input type='button' id='btnLeft' value='  <  ' class="form-control" />
                                                </td>
                                                <td style='width: 50px; text-align: center; vertical-align: middle;'>
                                                    &nbsp;
                                                    <b>POS(s) to be assign</b>
                                                    <br />
                                                    <select multiple="multiple" id="lstBox2" style="width: 400px;" class="form-control" size="20"></select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>                               

                                <div class="form-actions">
                                    <div class="form-group row">
                                        <div class="col-md-3 pull-left">
                                        </div>
                                        <div class="col-md-9 ">
                                            <input  id="save" type="submit" value="Assign" class="btn width-150 btn-primary pull-right" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End Horizontal Form -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scripts {
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <!-- END PAGE PLUGINS -->

    <script type="text/javascript">
        $(document).ready(function () {
            $("select").each(function () { this.selectedIndex = 0 });

            $("#merchantMenu").addClass("active");
            $("#merchantmidSubmenu").addClass("active");
            $("#merchantmidSubIndex").addClass("active");

            $("#ddlbranch").change(function () {
                var id = document.getElementById('ddlbranch').value;
                $.ajax({
                    url: rootDir + 'Ajax/BanchPOS',
                    type: 'POST',
                    data: { "id": id },
                    dataType: "json",
                    success: function (data) {
                        $('#lstBox1').empty();
                        $('#lstBox2').empty();
                        $.each(data, function (key, value) {
                            $("#lstBox1").append($("<option></option>").val(value.MerchantPOSId).html(value.MerchantPOSName));
                        });
                    }
                });
            });

            if ($("#ddlbranch > option").length == 1) {
                var id = document.getElementById('ddlbranch').value;
                $.ajax({
                    url: rootDir + 'Ajax/BanchPOS',
                    type: 'POST',
                    data: { "id": id },
                    dataType: "json",
                    success: function (data) {
                        $('#lstBox1').empty();
                        $('#lstBox2').empty();
                        $.each(data, function (key, value) {
                            $("#lstBox1").append($("<option></option>").val(value.MerchantPOSId).html(value.MerchantPOSName));
                        });
                    }
                });
            }


            $('#btnRight').click(function (e) {
                var selectedOpts = $('#lstBox1 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Select a PoS to Assign");
                    e.preventDefault();
                }

                $('#lstBox2').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnLeft').click(function (e) {
                var selectedOpts = $('#lstBox2 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Select a PoS that you want to remove");
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('form').submit(function () {
                var json = "";
                $("#lstBox2 option").each(function () {
                    value = $(this).val()
                    text = $(this).html()

                    if (json.length != 0) json += ",";

                    json += value;
                });
                var id = document.getElementById('hdnCtrl').value = json.toString();
            });

            $("#save").click(function () {
                var listB = document.getElementById('lstBox2').length;
                if (listB == 0) {
                    $("#errMsg").text("Please select a POS");
                    $("#message-box-danger").show();
                } else {
                    $("#massign").submit();
                }
            });
        });

    </script>
}
