@{
    Layout = null;
}

@model SDGAdmin.Models.ChangePasswordModel

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Veritas Pay Philippines Inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link href="@Url.Content("~/assets/common/img/favicon.144x144.png")" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="@Url.Content("~/assets/common/img/favicon.114x114.png")" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="@Url.Content("~/assets/common/img/favicon.72x72.png")" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="@Url.Content("~/assets/common/img/favicon.57x57.png")" rel="apple-touch-icon" type="image/png">
    <link href="@Url.Content("~/assets/common/img/favicon.png")" rel="icon" type="image/png">
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon">

    <!-- Vendors Styles -->
    <!-- v1.0.0 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/jscrollpane/style/jquery.jscrollpane.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/ladda/dist/ladda-themeless.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/select2/dist/css/select2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/fullcalendar/dist/fullcalendar.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/cleanhtmlaudioplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/cleanhtmlvideoplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/bootstrap-sweetalert/dist/sweetalert.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/summernote/dist/summernote.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/ionrangeslider/css/ion.rangeSlider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/c3/c3.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/chartist/dist/chartist.min.css")">
    <!-- v.1.4.0 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/nprogress/nprogress.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/vendors/jquery-steps/demo/css/jquery.steps.css")">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/common/css/source/main.css")">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="@Url.Content("~/assets/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/tether/dist/js/tether.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/spin.js/spin.js")"></script>
    <script src="@Url.Content("~/assets/vendors/ladda/dist/ladda.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/html5-form-validation/dist/jquery.validation.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/autosize/dist/autosize.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/fullcalendar/dist/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js")"></script>
    <script src="@Url.Content("~/assets/vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js")"></script>
    <script src="@Url.Content("~/assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/summernote/dist/summernote.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/owl.carousel/dist/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/ionrangeslider/js/ion.rangeSlider.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/nestable/jquery.nestable.js")"></script>
    <script src="@Url.Content("~/assets/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/assets/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/assets/vendors/editable-table/mindmup-editabletable.js")"></script>
    <script src="@Url.Content("~/assets/vendors/d3/d3.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/chartist/dist/chartist.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/peity/jquery.peity.min.js")"></script>
    <!-- v1.0.1 -->
    <script src="@Url.Content("~/assets/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js")"></script>
    <!-- v1.1.1 -->
    <script src="@Url.Content("~/assets/vendors/gsap/src/minified/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/hackertyper/hackertyper.js")"></script>
    <script src="@Url.Content("~/assets/vendors/jquery-countTo/jquery.countTo.js")"></script>
    <!-- v1.4.0 -->
    <script src="@Url.Content("~/assets/vendors/nprogress/nprogress.js")"></script>
    <script src="@Url.Content("~/assets/vendors/jquery-steps/build/jquery.steps.min.js")"></script>

    <!-- Clean UI Scripts -->
    <script src="@Url.Content("~/assets/common/js/common.js")"></script>
    <script src="@Url.Content("~/assets/common/js/demo.temp.js")"></script>
    <script type='text/javascript' src='@Url.Content("~/js/jquery.cookie.js")'></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var strExpire = '@(ViewBag.Expired)';

            if (strExpire != "") {
                $("#sMsg").text(strExpire);
                $(".alert-danger").show();
                $(".alert-danger").fadeOut(2500);
            }

            $(".alert-danger").hide();
            var strErr = '@(ViewBag.Alert)';
            if (strErr != "") {
                $("#errMsg").text(strErr);
                $(".alert-danger").show();
            }

            $("#close").click(function () {

                $(".alert-danger").hide();
            });

            var validate = $("#jvalidate").validate({
                ignore: [],
                rules: {
                    "NewPassword": {
                        required: true,
                        minlength: 8
                    },
                    "ConfirmPassword": {
                        required: true,
                        equalTo: "#NewPassword"
                    }
                }
            });

        });
    </script>
</head>

<body class="theme-default">

    <section class="page-content">
        <div class="page-content-inner" style="background-color: #668bf3;">

            <!-- Login Omega Page -->
            <div class="single-page-block-header">

            </div>
            <div class="single-page-block">
                <div class="single-page-block-inner effect-3d-element">
                    <div class="blur-placeholder"><!-- --></div>
                    <div class="single-page-block-form">

                        <div class="margin-right-10 logo">
                            <center><img src="@Url.Content("~/assets/common/img/logo-login.png")" alt="VeritasPay" /></center>
                        </div>

                        <h3>
                            <center>Change Password</center>
                        </h3>
                        <div style="color: #ffffff;">
                            @Html.ValidationSummary()
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p id="errMsg" style="font-size: large"></p>
                        </div>


                        <form role="form" class="form-horizontal" method="post" action="@Url.Action("ChangePassword")" id="jvalidate">
                            @Html.Hidden("hdnHolder", "")
                            @*@Html.HiddenFor(u => u.UserId)*@
                            <div class="form-group">

                                @Html.TextBoxFor(u => u.UserName, "", new { @placeholder = "Enter Current Username", @class = "form-control" })

                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(u => u.OldPassword, "", new { @placeholder = "Current Password", @class = "form-control", @type = "password" })

                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(u => u.NewPassword, "", new { @placeholder = "New Password", @class = "form-control", @type = "password" })

                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(u => u.ConfirmNewPassword, "", new { @placeholder = "Confirm New Password", @class = "form-control", @type = "password" })

                            </div>
                            <div class="form-actions">
                                <div class="form-group">

                                    @Html.ActionLink("Back", "Index", "Home", new { @class = "btn width-150 btn-primary pull-left" })

                                    @Html.Hidden("RememberMe", "false")
                                    @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
                                    <button class="btn width-150 btn-primary pull-right">Change Password</button>

                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
            <div class="single-page-block-footer text-center">
                <ul class="list-unstyled list-inline">
                    <li><a href="javascript: void(0);">Copyright 2016. All Rights Reserved. VeritasPay Philippines Inc.</a></li>

                </ul>
            </div>
            <!-- End Login Page -->

        </div>

        <!-- Page Scripts -->
        <script>
            $(function () {

                // Add class to body for change layout settings
                $('body').addClass('single-page single-page-inverse');

                // Form Validation
                $('#form-validation').validate({
                    submit: {
                        settings: {
                            inputContainer: '.form-group',
                            errorListClass: 'form-control-error',
                            errorClass: 'has-danger'
                        }
                    }
                });

                // Show/Hide Password
                $('.password').password({
                    eyeClass: '',
                    eyeOpenClass: 'icmn-eye',
                    eyeCloseClass: 'icmn-eye-blocked'
                });

                // Set Background Image for Form Block
                function setImage() {
                    var imgUrl = $('.page-content-inner').css('background-image');

                    $('.blur-placeholder').css('background-image', imgUrl);
                };

                function changeImgPositon() {
                    var width = $(window).width(),
                            height = $(window).height(),
                            left = -(width - $('.single-page-block-inner').outerWidth()) / 2,
                            top = -(height - $('.single-page-block-inner').outerHeight()) / 2;


                    $('.blur-placeholder').css({
                        width: width,
                        height: height,
                        left: left,
                        top: top
                    });
                };

                setImage();
                changeImgPositon();

                $(window).on('resize', function () {
                    changeImgPositon();
                });

                // Mouse Move 3d Effect
                var rotation = function (e) {
                    var perX = (e.clientX / $(window).width()) - 0.5;
                    var perY = (e.clientY / $(window).height()) - 0.5;
                    TweenMax.to(".effect-3d-element", 0.4, { rotationY: 15 * perX, rotationX: 15 * perY, ease: Linear.easeNone, transformPerspective: 1000, transformOrigin: "center" })
                };

                if (!cleanUI.hasTouch) {
                    $('body').mousemove(rotation);
                }

            });
        </script>


        <script type="text/javascript">
            $(document).ready(function () {
                $.removeCookie("visitsAdmin");
                document.body.onkeypress = function (e) {
                    var keynum = e.keyCode || e.which;
                    if (keynum == 13) {
                        $(".alert-danger").hide();
                    }
                }

                function getParameterByName(name) {
                    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                }

                var errNum = getParameterByName('err');

                $(".alert-danger").hide();
                var strErr = '@(ViewBag.SessionExpired)';
                var strIncorrectCred = '@(ViewBag.Alert)';
                if (strErr != "") {
                    $("#errMsg").text(strErr);
                    $(".alert-danger").show();
                } else if (strIncorrectCred != "") {
                    $("#errMsg").text(strIncorrectCred);
                    $(".alert-danger").show();
                } else if (errNum == 1) {
                    $("#errMsg").text("Session has expired. Please relogin.");
                    $(".alert-danger").show();
                }

                $("#close").click(function () {
                    $(".alert-danger").hide();
                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/Captcha/Captcha.ashx")',
                    success: function (data) {
                        document.getElementById('captcha').value = data.toString().substr(data.length - 6);
                        $("#Captcha").attr("src", "data:image/jpg;base64," + data.toString().substr(0, data.length - 6));

                    }
                });



            });

        </script>
        <!-- End Page Scripts -->
    </section>

    <div class="main-backdrop"><!-- --></div>

</body>

</html>









@section scripts {


}
<!-- THIS PAGE PLUGINS -->