@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGBackOffice.Models.UserModel

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">User Management</a></li>
    <li class="active">Create New Admin User</li>
</ul>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- START WIZARD WITH VALIDATION -->
    <div class="block">
        <h4>Admin User Registration</h4>
        <br />
        <div style="color: red;">
            @Html.ValidationSummary()
        </div>
        <form id="jvalidate" action="@Url.Action("UpdateUserInfo")" method="post" role="form" class="form-horizontal">
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.ParentId)
            @Html.HiddenFor(m => m.UserId)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @placeholder = "Middle Name", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Address</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Street and Civic Number", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control", @placeholder = "State / Province", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", @placeholder = "Zip / Postal Code", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, new { @class = "form-control", @placeholder = "Country", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Contact Numbers</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.PrimaryContactNumber, new { @class = "form-control", @placeholder = "Primary Contact Number", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = "Fax", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Phone Number", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Contact Information</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Email Address", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Login Information</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @readonly="readonly" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password", @readonly="readonly" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @type = "password", @readonly="readonly" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-md-2 control-label">Permission Set</label>
                        <div class="col-md-4">
                            @{
                                List<SelectListItem> role = new List<SelectListItem>();
                                role.Add(new SelectListItem()
                                {
                                    Text = "Admin",
                                    Value = "1"
                                });
                                role.Add(new SelectListItem()
                                {
                                    Text = "Manager",
                                    Value = "2"
                                });
                                role.Add(new SelectListItem()
                                {
                                    Text = "Employee",
                                    Value = "3"
                                });
                            }
                            @Html.DropDownListFor(m => m.RoleId, role, new { @disabled="disabled" })
                        </div>
                    </div>*@
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Back", "Index", "Users", null, new { @class = "btn btn-default pull-left" })
                </div>
            </div>
        </form>
        <div class="message-box message-box-danger animated fadeIn" id="message-box-danger">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span>Error</div>
                    <div class="mb-content">
                        <p id="errMsg" style="font-size: large"></p>
                    </div>
                    <div class="mb-footer">
                        <button id="close" class="btn btn-default btn-lg pull-right mb-control-close">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WIZARD WITH VALIDATION -->
</div>
<!-- END PAGE CONTENT WRAPPER -->
@section scripts {
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='@Url.Content("~/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/validation.js")"></script>
    <!-- END THIS PAGE PLUGINS -->

    <script type="text/javascript">
        $("input, select").css("color", "black");
    </script>
}