@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SDGBackOffice.Models.MerchantFeaturesModel

<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="col-sm-6">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "MerchantFeatures")">Home</a></li>
            <li class="active">Agreement Settings</li>
        </ul>
    </div>
    <div class="col-sm-6">
        @Html.Partial("~/Views/Shared/_PartialUser.cshtml")
    </div>
</nav>

@Html.Hidden("hdnCtrl", "");
<section class="page-content">
    <div class="page-content-inner">
        <section class="panel">
            <div class="panel-heading">
                <h3>Agreements Settings</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="margin-bottom-50">

                            <!-- Horizontal Form -->
                            <form action="@Url.Action("Agreements")" method="post" role="form" class="form-horizontal" id="jvalidate" autocomplete="off">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label class="form-control-label">Enable Terms of Service for this merchant:</label>
                                        @Html.DropDownListFor(f => f.TermsOfServiceEnabled, (List<SelectListItem>)ViewBag.TOS, new { id = "ddlTos", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label class="form-control-label">The merchant will present a disclaimer prior to transactions:</label>
                                        @Html.DropDownListFor(f => f.DisclaimerEnabled, (List<SelectListItem>)ViewBag.TOS, new { id = "ddlDisclaimer", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="form-group row">
                                        <div class="col-md-3 pull-left">
                                        </div>
                                        <div class="col-md-9 ">
                                            <input id="save" class="btn btn-primary pull-right" type="submit" value="Submit" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End Horizontal Form -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>